*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--md-sys-typescale-font-family-global);
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
html,
body {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}
