::selection {
  background-color: var(--md-sys-color-tertiary-container);
  color: var(--md-sys-color-on-tertiary-container);
}

body {
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

@media (prefers-color-scheme: light) {
  [data-md-theme='light'],
  [data-md-theme='system'] {
    color-scheme: light;
    --md-sys-color-primary-rgb: var(--md-sys-color-primary-rgb-light);
    --md-sys-color-on-primary-rgb: var(--md-sys-color-on-primary-rgb-light);
    --md-sys-color-primary-container-rgb: var(
      --md-sys-color-primary-container-rgb-light
    );
    --md-sys-color-on-primary-container-rgb: var(
      --md-sys-color-on-primary-container-rgb-light
    );
    --md-sys-color-secondary-rgb: var(--md-sys-color-secondary-rgb-light);
    --md-sys-color-on-secondary-rgb: var(--md-sys-color-on-secondary-rgb-light);
    --md-sys-color-secondary-container-rgb: var(
      --md-sys-color-secondary-container-rgb-light
    );
    --md-sys-color-on-secondary-container-rgb: var(
      --md-sys-color-on-secondary-container-rgb-light
    );
    --md-sys-color-tertiary-rgb: var(--md-sys-color-tertiary-rgb-light);
    --md-sys-color-on-tertiary-rgb: var(--md-sys-color-on-tertiary-rgb-light);
    --md-sys-color-tertiary-container-rgb: var(
      --md-sys-color-tertiary-container-rgb-light
    );
    --md-sys-color-on-tertiary-container-rgb: var(
      --md-sys-color-on-tertiary-container-rgb-light
    );
    --md-sys-color-error-rgb: var(--md-sys-color-error-rgb-light);
    --md-sys-color-on-error-rgb: var(--md-sys-color-on-error-rgb-light);
    --md-sys-color-error-container-rgb: var(
      --md-sys-color-error-container-rgb-light
    );
    --md-sys-color-on-error-container-rgb: var(
      --md-sys-color-on-error-container-rgb-light
    );
    --md-sys-color-background-rgb: var(--md-sys-color-background-rgb-light);
    --md-sys-color-on-background-rgb: var(
      --md-sys-color-on-background-rgb-light
    );
    --md-sys-color-surface-rgb: var(--md-sys-color-surface-rgb-light);
    --md-sys-color-on-surface-rgb: var(--md-sys-color-on-surface-rgb-light);
    --md-sys-color-surface-variant-rgb: var(
      --md-sys-color-surface-variant-rgb-light
    );
    --md-sys-color-on-surface-variant-rgb: var(
      --md-sys-color-on-surface-variant-rgb-light
    );
    --md-sys-color-outline-rgb: var(--md-sys-color-outline-rgb-light);
    --md-sys-color-shadow-rgb: var(--md-sys-color-shadow-rgb-light);
    --md-sys-color-inverse-surface-rgb: var(
      --md-sys-color-inverse-surface-rgb-light
    );
    --md-sys-color-inverse-on-surface-rgb: var(
      --md-sys-color-inverse-on-surface-rgb-light
    );
    --md-sys-color-inverse-primary-rgb: var(
      --md-sys-color-inverse-primary-rgb-light
    );
  }
  [data-md-theme='dark'] {
    color-scheme: dark;
    --md-sys-color-primary-rgb: var(--md-sys-color-primary-rgb-dark);
    --md-sys-color-on-primary-rgb: var(--md-sys-color-on-primary-rgb-dark);
    --md-sys-color-primary-container-rgb: var(
      --md-sys-color-primary-container-rgb-dark
    );
    --md-sys-color-on-primary-container-rgb: var(
      --md-sys-color-on-primary-container-rgb-dark
    );
    --md-sys-color-secondary-rgb: var(--md-sys-color-secondary-rgb-dark);
    --md-sys-color-on-secondary-rgb: var(--md-sys-color-on-secondary-rgb-dark);
    --md-sys-color-secondary-container-rgb: var(
      --md-sys-color-secondary-container-rgb-dark
    );
    --md-sys-color-on-secondary-container-rgb: var(
      --md-sys-color-on-secondary-container-rgb-dark
    );
    --md-sys-color-tertiary-rgb: var(--md-sys-color-tertiary-rgb-dark);
    --md-sys-color-on-tertiary-rgb: var(--md-sys-color-on-tertiary-rgb-dark);
    --md-sys-color-tertiary-container-rgb: var(
      --md-sys-color-tertiary-container-rgb-dark
    );
    --md-sys-color-on-tertiary-container-rgb: var(
      --md-sys-color-on-tertiary-container-rgb-dark
    );
    --md-sys-color-error-rgb: var(--md-sys-color-error-rgb-dark);
    --md-sys-color-on-error-rgb: var(--md-sys-color-on-error-rgb-dark);
    --md-sys-color-error-container-rgb: var(
      --md-sys-color-error-container-rgb-dark
    );
    --md-sys-color-on-error-container-rgb: var(
      --md-sys-color-on-error-container-rgb-dark
    );
    --md-sys-color-background-rgb: var(--md-sys-color-background-rgb-dark);
    --md-sys-color-on-background-rgb: var(
      --md-sys-color-on-background-rgb-dark
    );
    --md-sys-color-surface-rgb: var(--md-sys-color-surface-rgb-dark);
    --md-sys-color-on-surface-rgb: var(--md-sys-color-on-surface-rgb-dark);
    --md-sys-color-surface-variant-rgb: var(
      --md-sys-color-surface-variant-rgb-dark
    );
    --md-sys-color-on-surface-variant-rgb: var(
      --md-sys-color-on-surface-variant-rgb-dark
    );
    --md-sys-color-outline-rgb: var(--md-sys-color-outline-rgb-dark);
    --md-sys-color-shadow-rgb: var(--md-sys-color-shadow-rgb-dark);
    --md-sys-color-inverse-surface-rgb: var(
      --md-sys-color-inverse-surface-rgb-dark
    );
    --md-sys-color-inverse-on-surface-rgb: var(
      --md-sys-color-inverse-on-surface-rgb-dark
    );
    --md-sys-color-inverse-primary-rgb: var(
      --md-sys-color-inverse-primary-rgb-dark
    );
  }
}

@media (prefers-color-scheme: dark) {
  [data-md-theme='dark'],
  [data-md-theme='system'] {
    color-scheme: dark;
    --md-sys-color-primary-rgb: var(--md-sys-color-primary-rgb-dark);
    --md-sys-color-on-primary-rgb: var(--md-sys-color-on-primary-rgb-dark);
    --md-sys-color-primary-container-rgb: var(
      --md-sys-color-primary-container-rgb-dark
    );
    --md-sys-color-on-primary-container-rgb: var(
      --md-sys-color-on-primary-container-rgb-dark
    );
    --md-sys-color-secondary-rgb: var(--md-sys-color-secondary-rgb-dark);
    --md-sys-color-on-secondary-rgb: var(--md-sys-color-on-secondary-rgb-dark);
    --md-sys-color-secondary-container-rgb: var(
      --md-sys-color-secondary-container-rgb-dark
    );
    --md-sys-color-on-secondary-container-rgb: var(
      --md-sys-color-on-secondary-container-rgb-dark
    );
    --md-sys-color-tertiary-rgb: var(--md-sys-color-tertiary-rgb-dark);
    --md-sys-color-on-tertiary-rgb: var(--md-sys-color-on-tertiary-rgb-dark);
    --md-sys-color-tertiary-container-rgb: var(
      --md-sys-color-tertiary-container-rgb-dark
    );
    --md-sys-color-on-tertiary-container-rgb: var(
      --md-sys-color-on-tertiary-container-rgb-dark
    );
    --md-sys-color-error-rgb: var(--md-sys-color-error-rgb-dark);
    --md-sys-color-on-error-rgb: var(--md-sys-color-on-error-rgb-dark);
    --md-sys-color-error-container-rgb: var(
      --md-sys-color-error-container-rgb-dark
    );
    --md-sys-color-on-error-container-rgb: var(
      --md-sys-color-on-error-container-rgb-dark
    );
    --md-sys-color-background-rgb: var(--md-sys-color-background-rgb-dark);
    --md-sys-color-on-background-rgb: var(
      --md-sys-color-on-background-rgb-dark
    );
    --md-sys-color-surface-rgb: var(--md-sys-color-surface-rgb-dark);
    --md-sys-color-on-surface-rgb: var(--md-sys-color-on-surface-rgb-dark);
    --md-sys-color-surface-variant-rgb: var(
      --md-sys-color-surface-variant-rgb-dark
    );
    --md-sys-color-on-surface-variant-rgb: var(
      --md-sys-color-on-surface-variant-rgb-dark
    );
    --md-sys-color-outline-rgb: var(--md-sys-color-outline-rgb-dark);
    --md-sys-color-shadow-rgb: var(--md-sys-color-shadow-rgb-dark);
    --md-sys-color-inverse-surface-rgb: var(
      --md-sys-color-inverse-surface-rgb-dark
    );
    --md-sys-color-inverse-on-surface-rgb: var(
      --md-sys-color-inverse-on-surface-rgb-dark
    );
    --md-sys-color-inverse-primary-rgb: var(
      --md-sys-color-inverse-primary-rgb-dark
    );
  }
  [data-md-theme='light'] {
    color-scheme: light;
    --md-sys-color-primary-rgb: var(--md-sys-color-primary-rgb-light);
    --md-sys-color-on-primary-rgb: var(--md-sys-color-on-primary-rgb-light);
    --md-sys-color-primary-container-rgb: var(
      --md-sys-color-primary-container-rgb-light
    );
    --md-sys-color-on-primary-container-rgb: var(
      --md-sys-color-on-primary-container-rgb-light
    );
    --md-sys-color-secondary-rgb: var(--md-sys-color-secondary-rgb-light);
    --md-sys-color-on-secondary-rgb: var(--md-sys-color-on-secondary-rgb-light);
    --md-sys-color-secondary-container-rgb: var(
      --md-sys-color-secondary-container-rgb-light
    );
    --md-sys-color-on-secondary-container-rgb: var(
      --md-sys-color-on-secondary-container-rgb-light
    );
    --md-sys-color-tertiary-rgb: var(--md-sys-color-tertiary-rgb-light);
    --md-sys-color-on-tertiary-rgb: var(--md-sys-color-on-tertiary-rgb-light);
    --md-sys-color-tertiary-container-rgb: var(
      --md-sys-color-tertiary-container-rgb-light
    );
    --md-sys-color-on-tertiary-container-rgb: var(
      --md-sys-color-on-tertiary-container-rgb-light
    );
    --md-sys-color-error-rgb: var(--md-sys-color-error-rgb-light);
    --md-sys-color-on-error-rgb: var(--md-sys-color-on-error-rgb-light);
    --md-sys-color-error-container-rgb: var(
      --md-sys-color-error-container-rgb-light
    );
    --md-sys-color-on-error-container-rgb: var(
      --md-sys-color-on-error-container-rgb-light
    );
    --md-sys-color-background-rgb: var(--md-sys-color-background-rgb-light);
    --md-sys-color-on-background-rgb: var(
      --md-sys-color-on-background-rgb-light
    );
    --md-sys-color-surface-rgb: var(--md-sys-color-surface-rgb-light);
    --md-sys-color-on-surface-rgb: var(--md-sys-color-on-surface-rgb-light);
    --md-sys-color-surface-variant-rgb: var(
      --md-sys-color-surface-variant-rgb-light
    );
    --md-sys-color-on-surface-variant-rgb: var(
      --md-sys-color-on-surface-variant-rgb-light
    );
    --md-sys-color-outline-rgb: var(--md-sys-color-outline-rgb-light);
    --md-sys-color-shadow-rgb: var(--md-sys-color-shadow-rgb-light);
    --md-sys-color-inverse-surface-rgb: var(
      --md-sys-color-inverse-surface-rgb-light
    );
    --md-sys-color-inverse-on-surface-rgb: var(
      --md-sys-color-inverse-on-surface-rgb-light
    );
    --md-sys-color-inverse-primary-rgb: var(
      --md-sys-color-inverse-primary-rgb-light
    );
  }
}

[data-md-theme] {
  --md-sys-color-primary: rgb(var(--md-sys-color-primary-rgb));
  --md-sys-color-on-primary: rgb(var(--md-sys-color-on-primary-rgb));
  --md-sys-color-primary-container: rgb(
    var(--md-sys-color-primary-container-rgb)
  );
  --md-sys-color-on-primary-container: rgb(
    var(--md-sys-color-on-primary-container-rgb)
  );
  --md-sys-color-secondary: rgb(var(--md-sys-color-secondary-rgb));
  --md-sys-color-on-secondary: rgb(var(--md-sys-color-on-secondary-rgb));
  --md-sys-color-secondary-container: rgb(
    var(--md-sys-color-secondary-container-rgb)
  );
  --md-sys-color-on-secondary-container: rgb(
    var(--md-sys-color-on-secondary-container-rgb)
  );
  --md-sys-color-tertiary: rgb(var(--md-sys-color-tertiary-rgb));
  --md-sys-color-on-tertiary: rgb(var(--md-sys-color-on-tertiary-rgb));
  --md-sys-color-tertiary-container: rgb(
    var(--md-sys-color-tertiary-container-rgb)
  );
  --md-sys-color-on-tertiary-container: rgb(
    var(--md-sys-color-on-tertiary-container-rgb)
  );
  --md-sys-color-error: rgb(var(--md-sys-color-error-rgb));
  --md-sys-color-on-error: rgb(var(--md-sys-color-on-error-rgb));
  --md-sys-color-error-container: rgb(var(--md-sys-color-error-container-rgb));
  --md-sys-color-on-error-container: rgb(
    var(--md-sys-color-on-error-container-rgb)
  );
  --md-sys-color-background: rgb(var(--md-sys-color-background-rgb));
  --md-sys-color-on-background: rgb(var(--md-sys-color-on-background-rgb));
  --md-sys-color-surface: rgb(var(--md-sys-color-surface-rgb));
  --md-sys-color-on-surface: rgb(var(--md-sys-color-on-surface-rgb));
  --md-sys-color-surface-variant: rgb(var(--md-sys-color-surface-variant-rgb));
  --md-sys-color-on-surface-variant: rgb(
    var(--md-sys-color-on-surface-variant-rgb)
  );
  --md-sys-color-outline: rgb(var(--md-sys-color-outline-rgb));
  --md-sys-color-shadow: rgb(var(--md-sys-color-shadow-rgb));
  --md-sys-color-inverse-surface: rgb(var(--md-sys-color-inverse-surface-rgb));
  --md-sys-color-inverse-on-surface: rgb(
    var(--md-sys-color-inverse-on-surface-rgb)
  );
  --md-sys-color-inverse-primary: rgb(var(--md-sys-color-inverse-primary-rgb));
}
