[data-md-theme] {
  --md-sys-elevation-shadow-0: none !important;
  --md-sys-elevation-shadow-1-light: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --md-sys-elevation-shadow-2-light: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --md-sys-elevation-shadow-3-light: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-4-light: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-5-light: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-surface-1-light: linear-gradient(
      rgba(var(--md-sys-color-primary-rgb-light), 0.05),
      rgba(var(--md-sys-color-primary-rgb-light), 0.05)
    ),
    var(--md-sys-color-surface-light);
  --md-sys-elevation-surface-2-light: linear-gradient(
      rgba(var(--md-sys-color-primary-rgb-light), 0.08),
      rgba(var(--md-sys-color-primary-rgb-light), 0.08)
    ),
    var(--md-sys-color-surface-light);
  --md-sys-elevation-surface-3-light: linear-gradient(
      rgba(var(--md-sys-color-primary-rgb-light), 0.11),
      rgba(var(--md-sys-color-primary-rgb-light), 0.11)
    ),
    var(--md-sys-color-surface-light);
  --md-sys-elevation-surface-4-light: linear-gradient(
      rgba(var(--md-sys-color-primary-rgb-light), 0.12),
      rgba(var(--md-sys-color-primary-rgb-light), 0.12)
    ),
    var(--md-sys-color-surface-light);
  --md-sys-elevation-surface-5-light: linear-gradient(
      rgba(var(--md-sys-color-primary-rgb-light), 0.14),
      rgba(var(--md-sys-color-primary-rgb-light), 0.14)
    ),
    var(--md-sys-color-surface-light);
  --md-sys-elevation-shadow-1-dark: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-2-dark: 0px 2px 6px 2px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-3-dark: 0px 4px 8px 3px rgba(0, 0, 0, 0.15),
    0px 1px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-4-dark: 0px 6px 10px 4px rgba(0, 0, 0, 0.15),
    0px 2px 3px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-shadow-5-dark: 0px 8px 12px 6px rgba(0, 0, 0, 0.15),
    0px 4px 4px rgba(0, 0, 0, 0.3);
  --md-sys-elevation-surface-1-dark: linear-gradient(
      rgba(var(--md-sys-color-primary-rgb-dark), 0.05),
      rgba(var(--md-sys-color-primary-rgb-dark), 0.05)
    ),
    var(--md-sys-color-surface-dark);
  --md-sys-elevation-surface-2-dark: linear-gradient(
      rgba(var(--md-sys-color-primary-rgb-dark), 0.08),
      rgba(var(--md-sys-color-primary-rgb-dark), 0.08)
    ),
    var(--md-sys-color-surface-dark);
  --md-sys-elevation-surface-3-dark: linear-gradient(
      rgba(var(--md-sys-color-primary-rgb-dark), 0.11),
      rgba(var(--md-sys-color-primary-rgb-dark), 0.11)
    ),
    var(--md-sys-color-surface-dark);
  --md-sys-elevation-surface-4-dark: linear-gradient(
      rgba(var(--md-sys-color-primary-rgb-dark), 0.12),
      rgba(var(--md-sys-color-primary-rgb-dark), 0.12)
    ),
    var(--md-sys-color-surface-dark);
  --md-sys-elevation-surface-5-dark: linear-gradient(
      rgba(var(--md-sys-color-primary-rgb-dark), 0.14),
      rgba(var(--md-sys-color-primary-rgb-dark), 0.14)
    ),
    var(--md-sys-color-surface-dark);
}
@media (prefers-color-scheme: light) {
  [data-md-theme='light'],
  [data-md-theme='system'] {
    --md-sys-elevation-shadow-1: var(--md-sys-elevation-shadow-1-light);
    --md-sys-elevation-shadow-2: var(--md-sys-elevation-shadow-2-light);
    --md-sys-elevation-shadow-3: var(--md-sys-elevation-shadow-3-light);
    --md-sys-elevation-shadow-4: var(--md-sys-elevation-shadow-4-light);
    --md-sys-elevation-shadow-5: var(--md-sys-elevation-shadow-5-light);
    --md-sys-elevation-surface-1: var(--md-sys-elevation-surface-1-light);
    --md-sys-elevation-surface-2: var(--md-sys-elevation-surface-2-light);
    --md-sys-elevation-surface-3: var(--md-sys-elevation-surface-3-light);
    --md-sys-elevation-surface-4: var(--md-sys-elevation-surface-4-light);
    --md-sys-elevation-surface-5: var(--md-sys-elevation-surface-5-light);
  }
  [data-md-theme='dark'] {
    --md-sys-elevation-shadow-1: var(--md-sys-elevation-shadow-1-dark);
    --md-sys-elevation-shadow-2: var(--md-sys-elevation-shadow-2-dark);
    --md-sys-elevation-shadow-3: var(--md-sys-elevation-shadow-3-dark);
    --md-sys-elevation-shadow-4: var(--md-sys-elevation-shadow-4-dark);
    --md-sys-elevation-shadow-5: var(--md-sys-elevation-shadow-5-dark);
    --md-sys-elevation-surface-1: var(--md-sys-elevation-surface-1-dark);
    --md-sys-elevation-surface-2: var(--md-sys-elevation-surface-2-dark);
    --md-sys-elevation-surface-3: var(--md-sys-elevation-surface-3-dark);
    --md-sys-elevation-surface-4: var(--md-sys-elevation-surface-4-dark);
    --md-sys-elevation-surface-5: var(--md-sys-elevation-surface-5-dark);
  }
}
@media (prefers-color-scheme: dark) {
  [data-md-theme='dark'],
  [data-md-theme='system'] {
    --md-sys-elevation-shadow-1: var(--md-sys-elevation-shadow-1-dark);
    --md-sys-elevation-shadow-2: var(--md-sys-elevation-shadow-2-dark);
    --md-sys-elevation-shadow-3: var(--md-sys-elevation-shadow-3-dark);
    --md-sys-elevation-shadow-4: var(--md-sys-elevation-shadow-4-dark);
    --md-sys-elevation-shadow-5: var(--md-sys-elevation-shadow-5-dark);
    --md-sys-elevation-surface-1: var(--md-sys-elevation-surface-1-dark);
    --md-sys-elevation-surface-2: var(--md-sys-elevation-surface-2-dark);
    --md-sys-elevation-surface-3: var(--md-sys-elevation-surface-3-dark);
    --md-sys-elevation-surface-4: var(--md-sys-elevation-surface-4-dark);
    --md-sys-elevation-surface-5: var(--md-sys-elevation-surface-5-dark);
  }
  [data-md-theme='light'] {
    --md-sys-elevation-shadow-1: var(--md-sys-elevation-shadow-1-light);
    --md-sys-elevation-shadow-2: var(--md-sys-elevation-shadow-2-light);
    --md-sys-elevation-shadow-3: var(--md-sys-elevation-shadow-3-light);
    --md-sys-elevation-shadow-4: var(--md-sys-elevation-shadow-4-light);
    --md-sys-elevation-shadow-5: var(--md-sys-elevation-shadow-5-light);
    --md-sys-elevation-surface-1: var(--md-sys-elevation-surface-1-light);
    --md-sys-elevation-surface-2: var(--md-sys-elevation-surface-2-light);
    --md-sys-elevation-surface-3: var(--md-sys-elevation-surface-3-light);
    --md-sys-elevation-surface-4: var(--md-sys-elevation-surface-4-light);
    --md-sys-elevation-surface-5: var(--md-sys-elevation-surface-5-light);
  }
}
