:root {
  --theme-color: #c49582;
  --theme-color-rgb: 196, 149, 130;
  --theme-color-variant: #c37a5d;
  --on-theme-color: #ffffff;
  --surface: #fff;
  --surface-variant: #f5f5f4;
  --outline: #434343;
  --viewcolor: #ffffff;
  --textcolor: #000000;
  --textcolors: #666666;
  scroll-behavior: smooth;
}
