.app-top-app-bar {
  color: var(--on-theme-color);
  background-color: rgba(var(--theme-color-rgb), 0.7);
  backdrop-filter: blur(1.5px);
  box-sizing: border-box;
  display: flex;
  min-height: 64px;
  position: relative;
  width: 100%;
  z-index: 800;

  .app-top-app-bar__sections {
    align-items: center;
    display: flex;
    padding: 12px 8px;

    &.middle,
    &.end {
      flex: 1;
    }

    &.start {
      gap: 8px;
      justify-content: flex-start;
    }

    &.end {
      gap: 8px;
      justify-content: flex-end;
    }
  }

  .app-top-app-bar__title {
    display: inline-flex;
    align-items: center;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0rem;
  }
}
.footer {
  font-family: 'Noto Sans SC', 'Noto Sans JP', sans-serif;
  display: block;
  padding: 0px 24px 20px 24px;
  color: var(--textcolor);
  background-color: var(--viewcolor);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.app-top-app-bar__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--viewcolor);
  color: var(--textcolor);
}
.app-top-app-bar__contents {
  flex: 1;
  overflow: auto;
  margin-top: -64px;
  padding-top: 64px;
  height: calc(100% + 64px);
}
.app-nav-drawer a {
  position: relative;
  padding: 0 12px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  color: var(--md-sys-color-on-surface);
  text-decoration: none !important;
  border-radius: 12px;
  flex-shrink: 0;
  color: var(--textcolor);
}

.app-nav-drawer a::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: currentColor;
  border-radius: inherit;
  opacity: 0;
}

.app-nav-drawer a:hover::before {
  opacity: 0.08;
}

.app-nav-drawer a:focus-visible:before {
  opacity: 0.12;
}

.icon-btn:active::before,
.fab:active::before,
.app-nav-drawer a:active:before {
  opacity: 0.16;
}

.drawer-opener {
  display: none !important;
}

@media (max-width: 1200px) {
  .drawer-opener {
    display: inline-flex !important;
  }
}

.select-site {
  display: block;
  height: 34px;
  padding: 4px 10px;
  font-size: 17px;
  line-height: 17px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  position: absolute;
  right: 40px;
  color: white;
  outline: none;
  appearance: none;
  background: url() no-repeat scroll right center transparent;

  option {
    background: white;
    color: black;
  }
}
.app-nav-drawer__container {
  display: flex;
  height: 100%;
  width: 100%;
}

.app-nav-drawer__overlap {
  background-color: var(--md-sys-color-on-surface);
  inset: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  will-change: opacity;
  z-index: 1100;
}

.app-nav-drawer {
  background: var(--md-sys-color-surface);
  border-inline-end: 1px solid var(--md-sys-color-outline);
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
  padding: 16px;
  width: 300px;
  will-change: transform;
  z-index: 1200;
  background-color: var(--viewcolor);
}

.app-nav-drawer__contents {
  width: 100%;
}

@media (max-width: 1200px) {
  .app-nav-drawer {
    position: fixed;
    display: none;
    background: var(--md-sys-elevation-surface-2);
    transform: translateX(-100%);
    border-inline-end: 0;
    border-end-end-radius: 16px;
    border-start-end-radius: 16px;
  }

  [dir='rtl'] .app-nav-drawer {
    transform: translateX(100%);
  }

  .app-nav-drawer__opener,
  .app-nav-drawer__closer {
    display: inline-flex;
  }

  .app-nav-drawer--opened .app-nav-drawer {
    display: block;
    transform: translateX(0);
    transition: transform 500ms cubic-bezier(0.2, 0, 0, 1);
    background-color: var(--viewcolor);
  }

  .app-nav-drawer--opened .app-nav-drawer__overlap {
    transition: opacity 500ms cubic-bezier(0.2, 0, 0, 1);
  }

  .app-nav-drawer--opening .app-nav-drawer {
    display: block;
  }

  .app-nav-drawer--opened .app-nav-drawer__overlap {
    opacity: 0.32;
    pointer-events: auto;
  }

  .app-nav-drawer--closing .app-nav-drawer {
    transform: translateX(-100%);
    transition: transform 200ms cubic-bezier(0.2, 0, 0, 1);
  }

  [dir='rtl'] .app-nav-drawer--closing .app-nav-drawer {
    transform: translateX(100%);
  }

  .app-nav-drawer--closing .app-nav-drawer__overlap {
    opacity: 0;
    transition: 200ms cubic-bezier(0.2, 0, 0, 1);
  }
}
