@import 'components';
@import 'github';
@import 'artalk';

a {
  text-decoration: none;
  color: var(--color-theme);
}

*,
::after,
::before {
  font-family: 'LXGW WenKai', cursive, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

[data-theme='light'] {
  --color-theme: #c49582;
  --color-theme-rgb: 196, 149, 130;
  --color-theme-variant: #c37a5d;
  --color-on-theme: #ffffff;
  --color-surface: #eeeeee;
  --color-surface-variant: #dddddd;
  --color-outline: #434343;
  --color-background: #ffffff;
  --color-text: #171717;
  --color-text-variant: #666666;
}
[data-theme='dark'] {
  --color-theme: #c49582;
  --color-theme-rgb: 96, 49, 30;
  --color-theme-variant: #c37a5d;
  --color-on-theme: #ffffff;
  --color-surface: #272727;
  --color-surface-variant: #333333;
  --color-outline: #434343;
  --color-background: #171717;
  --color-text: #ffffff;
  --color-text-variant: #cecece;
}

.meme {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16rem;
  opacity: 0.6;
  pointer-events: none;
  z-index: 0;
}

@media (max-width: 1200px) {
  .meme {
    font-size: 8rem;
  }
}

@media (max-width: 768px) {
  .meme {
    font-size: 4rem;
  }
}

.main-title {
  padding: 10px 0;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 5px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul,
li,
p {
  padding: 0;
  margin: 0;
}

button,
a,
[tabindex] {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a:hover {
  text-decoration: underline;
}

.contributors {
  margin-top: 16px;
  column-count: 3;
  column-gap: 16px;
}

@media (max-width: 1080px) {
  .contributors {
    column-count: 2;
  }
}

@media (max-width: 780px) {
  .contributors {
    column-count: 1;
  }
}

/* If CSS can do, why JavaScript? */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translate(calc(-100% + 4 * 416px));
  }
}

.marquee {
  position: relative;
  margin: auto;
  height: 260px;
  overflow: hidden;
}

.marquee ul {
  position: absolute;
  display: flex;
  height: 100%;
  left: 0;
  animation: 10s infinite linear scroll;
}

.marquee ul li {
  float: left;
  list-style: none;
  width: 416px;
  height: 100%;
}

.marquee ul li img {
  width: inherit;
  height: inherit;
}

hr {
  margin: 36px 0 12px 0;
  height: 4px;
  border: 0;
  background: repeating-linear-gradient(
    135deg,
    #a2a9b6 0px,
    #a2a9b6 1px,
    transparent 1px,
    transparent 6px
  );
}

.back-to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

.banner {
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
}

.banner p {
  color: var(--color-theme);
  font-size: 0.875rem;
  font-weight: 100;
  letter-spacing: 0.5em;
}

.container {
  padding: 24px 24px 24px 40px;
}

.select-site {
  display: block;
  height: 34px;
  padding: 4px 10px;
  font-size: 17px;
  line-height: 17px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  position: absolute;
  right: 40px;
  color: white;
  outline: none;
  appearance: none;
  background: url() no-repeat scroll right center transparent;

  option {
    background: white;
    color: black;
  }
}

@media (max-width: 900px) {
  .select-site {
    position: absolute;
    right: 15px;
  }
}
