@import 'components';
@import 'github';
@import 'artalk';

a {
  text-decoration: none;
  color: var(--color-theme);
}
a:hover,
a:focus-visible {
  text-decoration: underline;
}

*,
::after,
::before {
  font-family: 'LXGW WenKai', cursive, sans-serif;
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  scroll-behavior: smooth;
}

[data-theme='light'] {
  --color-theme: #c49582;
  --color-theme-rgb: 196, 149, 130;
  --color-theme-variant: #c37a5d;
  --color-on-theme: #ffffff;
  --color-surface: #fffbff;
  --color-surface-variant: #f5ded6;
  --color-outline: #434343;
  --color-background: #fffbff;
  --color-background-rgb: 255, 255, 255;
  --color-text: #171717;
  --color-text-variant: #333333;
}
[data-theme='dark'] {
  --color-theme: #c49582;
  --color-theme-rgb: 96, 49, 30;
  --color-theme-variant: #c37a5d;
  --color-on-theme: #ffffff;
  --color-surface: #201a18;
  --color-surface-variant: #53433e;
  --color-outline: #434343;
  --color-background: #201a18;
  --color-background-rgb: 23, 23, 23;
  --color-text: #ffffff;
  --color-text-variant: #eaeaea;
}

button,
a,
[tabindex] {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

hr {
  margin: 36px 0 12px 0;
  height: 4px;
  border: 0;
  background: repeating-linear-gradient(
    135deg,
    #a2a9b6 0px,
    #a2a9b6 1px,
    transparent 1px,
    transparent 6px
  );
}

.back-to-top {
  position: fixed;
  bottom: 16px;
  right: 16px;
}
.danmu-setting {
  position: fixed;
  bottom: 76px;
  right: 16px;
}
.danmu-setting-on {
  position: fixed;
  bottom: 76px;
  right: 76px;
  background: var(--color-theme);
  border-radius: 15px;
  color: var(--color-on-theme);
}
.container {
  padding: 24px 24px 24px 40px;

  h1 {
    margin: 24px 0;
    font-size: 2rem;
    font-weight: 300;
  }
  h2 {
    margin: 24px 0;
    font-size: 1.5rem;
  }
  p {
    margin: 8px 0;
  }
}

.select-site {
  display: block;
  height: 34px;
  padding: 4px 10px;
  font-size: 17px;
  line-height: 17px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  position: absolute;
  right: 40px;
  color: white;
  outline: none;
  appearance: none;
  background: url() no-repeat scroll right center transparent;

  option {
    background: white;
    color: black;
  }
}

@media (max-width: 900px) {
  .select-site {
    position: absolute;
    right: 15px;
  }
}
