@import 'material-you/main';

[data-md-theme] {
  --md-sys-color-primary-rgb-dark: 255, 180, 166;
  --md-sys-color-primary-dark: #ffb4a6;
  --md-sys-color-on-primary-rgb-dark: 95, 21, 10;
  --md-sys-color-on-primary-dark: #5f150a;
  --md-sys-color-primary-container-rgb-dark: 125, 44, 30;
  --md-sys-color-primary-container-dark: #7d2c1e;
  --md-sys-color-on-primary-container-rgb-dark: 255, 218, 212;
  --md-sys-color-on-primary-container-dark: #ffdad4;
  --md-sys-color-secondary-rgb-dark: 231, 189, 181;
  --md-sys-color-secondary-dark: #e7bdb5;
  --md-sys-color-on-secondary-rgb-dark: 68, 42, 37;
  --md-sys-color-on-secondary-dark: #442a25;
  --md-sys-color-secondary-container-rgb-dark: 93, 63, 58;
  --md-sys-color-secondary-container-dark: #5d3f3a;
  --md-sys-color-on-secondary-container-rgb-dark: 255, 218, 212;
  --md-sys-color-on-secondary-container-dark: #ffdad4;
  --md-sys-color-tertiary-rgb-dark: 221, 196, 140;
  --md-sys-color-tertiary-dark: #ddc48c;
  --md-sys-color-on-tertiary-rgb-dark: 61, 46, 4;
  --md-sys-color-on-tertiary-dark: #3d2e04;
  --md-sys-color-tertiary-container-rgb-dark: 85, 69, 25;
  --md-sys-color-tertiary-container-dark: #554519;
  --md-sys-color-on-tertiary-container-rgb-dark: 250, 224, 166;
  --md-sys-color-on-tertiary-container-dark: #fae0a6;
  --md-sys-color-error-rgb-dark: 255, 180, 171;
  --md-sys-color-error-dark: #ffb4ab;
  --md-sys-color-on-error-rgb-dark: 105, 0, 5;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-rgb-dark: 147, 0, 10;
  --md-sys-color-error-container-dark: #93000a;
  --md-sys-color-on-error-container-rgb-dark: 255, 180, 171;
  --md-sys-color-on-error-container-dark: #ffb4ab;
  --md-sys-color-background-rgb-dark: 32, 26, 25;
  --md-sys-color-background-dark: #201a19;
  --md-sys-color-on-background-rgb-dark: 237, 224, 221;
  --md-sys-color-on-background-dark: #ede0dd;
  --md-sys-color-surface-rgb-dark: 32, 26, 25;
  --md-sys-color-surface-dark: #201a19;
  --md-sys-color-on-surface-rgb-dark: 237, 224, 221;
  --md-sys-color-on-surface-dark: #ede0dd;
  --md-sys-color-surface-variant-rgb-dark: 83, 67, 64;
  --md-sys-color-surface-variant-dark: #534340;
  --md-sys-color-on-surface-variant-rgb-dark: 216, 194, 190;
  --md-sys-color-on-surface-variant-dark: #d8c2be;
  --md-sys-color-outline-rgb-dark: 160, 140, 137;
  --md-sys-color-outline-dark: #a08c89;
  --md-sys-color-shadow-rgb-dark: 0, 0, 0;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-inverse-surface-rgb-dark: 237, 224, 221;
  --md-sys-color-inverse-surface-dark: #ede0dd;
  --md-sys-color-inverse-on-surface-rgb-dark: 54, 47, 45;
  --md-sys-color-inverse-on-surface-dark: #362f2d;
  --md-sys-color-inverse-primary-rgb-dark: 156, 66, 51;
  --md-sys-color-inverse-primary-dark: #9c4233;
  --md-sys-color-primary-rgb-light: 156, 66, 51;
  --md-sys-color-primary-light: #9c4233;
  --md-sys-color-on-primary-rgb-light: 255, 255, 255;
  --md-sys-color-on-primary-light: #ffffff;
  --md-sys-color-primary-container-rgb-light: 255, 218, 212;
  --md-sys-color-primary-container-light: #ffdad4;
  --md-sys-color-on-primary-container-rgb-light: 63, 3, 0;
  --md-sys-color-on-primary-container-light: #3f0300;
  --md-sys-color-secondary-rgb-light: 119, 86, 80;
  --md-sys-color-secondary-light: #775650;
  --md-sys-color-on-secondary-rgb-light: 255, 255, 255;
  --md-sys-color-on-secondary-light: #ffffff;
  --md-sys-color-secondary-container-rgb-light: 255, 218, 212;
  --md-sys-color-secondary-container-light: #ffdad4;
  --md-sys-color-on-secondary-container-rgb-light: 44, 21, 17;
  --md-sys-color-on-secondary-container-light: #2c1511;
  --md-sys-color-tertiary-rgb-light: 111, 92, 46;
  --md-sys-color-tertiary-light: #6f5c2e;
  --md-sys-color-on-tertiary-rgb-light: 255, 255, 255;
  --md-sys-color-on-tertiary-light: #ffffff;
  --md-sys-color-tertiary-container-rgb-light: 250, 224, 166;
  --md-sys-color-tertiary-container-light: #fae0a6;
  --md-sys-color-on-tertiary-container-rgb-light: 37, 26, 0;
  --md-sys-color-on-tertiary-container-light: #251a00;
  --md-sys-color-error-rgb-light: 186, 26, 26;
  --md-sys-color-error-light: #ba1a1a;
  --md-sys-color-on-error-rgb-light: 255, 255, 255;
  --md-sys-color-on-error-light: #ffffff;
  --md-sys-color-error-container-rgb-light: 255, 218, 214;
  --md-sys-color-error-container-light: #ffdad6;
  --md-sys-color-on-error-container-rgb-light: 65, 0, 2;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-background-rgb-light: 255, 251, 255;
  --md-sys-color-background-light: #fffbff;
  --md-sys-color-on-background-rgb-light: 32, 26, 25;
  --md-sys-color-on-background-light: #201a19;
  --md-sys-color-surface-rgb-light: 255, 251, 255;
  --md-sys-color-surface-light: #fffbff;
  --md-sys-color-on-surface-rgb-light: 32, 26, 25;
  --md-sys-color-on-surface-light: #201a19;
  --md-sys-color-surface-variant-rgb-light: 245, 221, 217;
  --md-sys-color-surface-variant-light: #f5ddd9;
  --md-sys-color-on-surface-variant-rgb-light: 83, 67, 64;
  --md-sys-color-on-surface-variant-light: #534340;
  --md-sys-color-outline-rgb-light: 133, 115, 112;
  --md-sys-color-outline-light: #857370;
  --md-sys-color-shadow-rgb-light: 0, 0, 0;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-inverse-surface-rgb-light: 54, 47, 45;
  --md-sys-color-inverse-surface-light: #362f2d;
  --md-sys-color-inverse-on-surface-rgb-light: 251, 238, 235;
  --md-sys-color-inverse-on-surface-light: #fbeeeb;
  --md-sys-color-inverse-primary-rgb-light: 255, 180, 166;
  --md-sys-color-inverse-primary-light: #ffb4a6;
}
